body {
   margin: 0 auto;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

nav {
   text-align: center;
}

/* a:hover {
   color: #7C0000;
} */

header {
   background: linear-gradient(to bottom right, rgb(85, 85, 94), rgb(180, 172, 173));
}

nav ul {
   display: flex;
   justify-content: space-around;
}

nav ul li,
footer ul li {
   list-style: none;
}

footer {
   background: linear-gradient(to bottom right, rgb(85, 85, 94), rgb(180, 172, 173));
   text-align: center;

}

.footer-bottom {
   font-size: 20px;
   color: #ffffff;
   padding: 10px;
}

.error-message {
   font-size: 18px;
   color: red;
}

.content {
   text-align: center;
   flex: 1;
   padding: 30px;
}



table {
   display: table;
   width: 100%;
   border-collapse: collapse;

}



td {

   display: table-cell;
   text-align: center;
   border: none;
   border: 1px solid #ccc;
   vertical-align: middle;

}

.sum-cell {
   position: absolute;
   width: 100%;
}

.email {
   opacity: 0;
}

input[name=mailCheck]:checked+.email {
   opacity: 1;
}

nav li a,
input[type=submit],
input[type=button] {
   background: #23A6F0;
   min-width: 187px;
   border-radius: 37px;
   display: inline-block;
   text-decoration: none;
   color: #ffffff;
   letter-spacing: 0.2px;
   font-weight: bold;
   font-size: 14px;
   line-height: 32px;
   text-align: center;
}

nav li a:hover,
input[type=submit],
input[type=button] {
   background: #1b97df;
   cursor: pointer;
}

input[type=text] {
   min-width: 187px;
   letter-spacing: 0.2px;
   font-weight: bold;
   font-size: 16px;
}

footer li a {
   min-width: 187px;
   text-decoration: none;
   color: #ffffff;
   letter-spacing: 0.2px;
   font-weight: bold;
   font-size: 14px;
   line-height: 32px;
   text-align: center;
}

footer li a:hover {
   text-decoration: underline;
}

h1 {

   color: #ffffff;
   letter-spacing: 0.2px;
   font-weight: bold;
   font-size: 34px;
   line-height: 32px;
   text-align: center;
}

.heading_order {
   display: flex;
   max-width: 40%;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
}

.hide {
   display: none;
}

.btnAdd {
   position: relative;
   left: 10;
}

.chartBTN {
   position: relative;
   text-align: left;
}